@{
    ViewData["Title"] = "Pagina de pedidos";
}


@model List<EntidadesSistema.PedidoViewModel>

<div class="text-center">
    <h2 class="display-4">Listado de Pedidos</h2>
</div>
<div class="text-center">
    <table class="table table-striped" style="text-align:center">
    @if (Model.Count() != 0)
    {
        <tr>
            <th>Numero</th> 
            <th>Direccion</th>
            <th>Obersvacion</th>
            <th>ID Cliente</th>
            <th>Estado</th>
            <th>Acción</th>
        </tr>
        @foreach (var item in Model)
        {
                <tr>
                    <td>@item.Numero</td>
                    <td>@item.Direccion</td>
                    <td>@item.Observacion</td>
                    <td>@item.ClienteID</td>
                    <td>@item.Estado</td>
                    @if(@item.Estado != "Entregado" && @item.Estado != "Cancelado" && @item.Estado != "Completado")
                    {
                        <td>
                            <a button type="button" class="btn btn-secondary btn-sm" href="completarPedido?_Id=@item.Numero">Terminar</a>
                        </td>
            }
                    else
                    {
                        <td></td>
                    }
                </tr>
        }
    }
    </table>

</div>