@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<EntidadesSistema.Pedido>
<div class="text-center">
    <h1 class="display-4">Listado de Pedidos</h1>
    <table class="table table-striped" style="text-align:center">
    @if (Model.Count() != 0)
    {
        <tr>
            <th>Numero</th> 
            <th>Direccion</th>
            <th>Obersvacion</th>
            <th>Destino</th>
            <th>Estado</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Numero</td>
                <td>@item.Destinatario.Nombre</td>
                <td>@item.Observacion</td>
                <td>@item.Destinatario.Direccion</td>
                <td>@item.Estado</td>
            </tr>
        }
    }
    </table>

</div>